
.container{
    display: flex; 
    gap: 2rem; 
    flex-wrap: wrap;
}

.containerProductos{
    width: 40%;
}

@media ( max-width: 600px ){
    .container{
        display: block;
        width: 100%;        
    }    
    .card{
        display: block;
        width: 100%;
    }
}
}