<h1>Directivas Estructurales</h1>

<!-- <app-todo></app-todo> -->
 <!-- NgSwitch -->


<!-- <h3>Panel de Usuario</h3>
<div [ngSwitch]="rolUsuario">
  <p *ngSwitchCase="'admin'">Eres Administrador</p>
  <p *ngSwitchCase="'user'">Eres un usuario normal</p>
  <p *ngSwitchCase="'invitado'">Eres un invitado</p>
  <p *ngSwitchDefault>Rol no reconocido</p>  
</div> -->

<!-- NgClass -->
 <!-- <p [ngClass]="{'importante' : tareaImportante}" >
  Esta tarea es importante
 </p> -->

 
 <!-- <p [ngStyle]="{color: isUrgente? 'red':'green' , fontsize: '10px'}" >
  Esta tarea es urgente
 </p> -->


 <app-product-manager></app-product-manager>




