<h1>Lista de Productos</h1>
<!-- <strong>{{itemSeleccionado?.descripcion  }}</strong> -->
<br>
<br>
<div class="container" >        
    <!-- Columna de Productos  -->
    <div   class="containerProductos">
       <app-productos
       *ngFor = "let item of items"
       [info] = "item"
       (seleccionado)="seleccionarItem($event)"
       class="card"
       ></app-productos>                            
    </div>

    <!-- Coiumna de Detalles -->
    <div   class="containerProductos">
        <app-detalles
        [item] = "itemSeleccionado"
        ></app-detalles>
    </div>        

    

</div>



