<h1>Rutas</h1>
<nav>
    <a routerLink="/">Usuarios</a>
    <a routerLink="/httpcli">Fake Products</a>
    <a routerLink="/formulario">Formulario</a>
    <a routerLink="/servicio">Servicios</a>
    <a routerLink="/Componentes">Componentes</a>    
    <a routerLink="/home">Home</a>
    <a routerLink="/card">Card </a>
    <a routerLink="/todo">Todo </a>        
    <a routerLink="/gestor">Gestor </a>
    <a routerLink="/tarjeta">Tarjeta </a>
</nav>

<p>Estoy en App Component</p>

<div>
    <p>{{ nombre | uppercase }}</p>
    <p>{{ fechaNacimiento | edad }}</p>
    <p>{{ salario | currency:'EUR' }}</p>
</div>


<router-outlet></router-outlet>

